<html>
  <head>
    <title>Household Census</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <style>
    h1 {text-align: center;}
    h2 {font-size:24px;}
    </style>
  </head>
<body class = "bg-dark">
	<div class="jumbotron">
      <h1 class="display-4">Household Census</h1>
	</div>

	<div class="container-md p-3 my-3 border bg-dark text-white" id="survey">
    <form>
      <h2>What's your name? </h2>
      <input type="text" name="name" placeholder="ex. Jane Doe" required />
      <br>
      <br>
      <h2>Do you live alone?</h2>
      <input type="radio" id="Yes" name="liveAlone" value="Yes"> Yes
      <input type="radio" id="Yes" name="liveAlone" value="No"> No
      <!--I am:
      years old. -->
      <br>
      <br>
      <h2> How old are the people that live with you? <br>(Check all that apply)</h2>
	    <br>
		    <input type="checkbox" name="members" value="notApplicable"> Not Applicable<br>
	    	<input type="checkbox" name="members" value="child"> 0-18 years old<br>
      	<input type="checkbox" name="members" value="youndAdult"> 18-29 years old<br>
      	<input type="checkbox" name="members" value="adult"> 30-64 years old<br>
        <input type="checkbox" name="members" value="senior"> 65+ years old<br>
        <br>
        <br>
        <h2>What are the names of the people living with you?</h2>
        <textarea name="names" rows="4" cols="50"></textarea>
      <br>
      <br>

      <h2>How many pets do you have?</h2>
      <select name="pets">
			  <option value="zero" selected = "selected">None</option>
			  <option value="oneOrTwo">1-2</option>
			  <option value="threeToFour">3-4</option>
			  <option value="fiveOrMore">5 or more</option>
      </select>
      <br>
      <br>
      <h2>How likely would you be to fill out this survey everytime your household composition changes?</h2>
      <input type="radio" id="Yes" name="fillSurvey" value="1"> 1
      <input type="radio" id="Yes" name="fillSurvey" value="2"> 2
      <input type="radio" id="Yes" name="fillSurvey" value="3"> 3
      <input type="radio" id="Yes" name="fillSurvey" value="4"> 4
      <input type="radio" id="Yes" name="fillSurvey" value="5"> 5

      <br>
      <br>
      <button type="submit" class="btn btn-warning" id="bb">Submit</button>
      <p id="thanks"></p>
    </form>
    </div>

    <script src="/assets/action.js"></script>

</body>
